@model IEnumerable<Immunization>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white text-center">
                    <strong>Listado de Vacunas</strong>
                </h3>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button" class="btn btn-success" title="Exportar a Excel" id="btnExportExcel" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                    <i class="fa-solid fa-file-csv"></i> Exportar en Excel
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="table table-striped" id="tablaVacunas" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.ImmunizationId)</th>
                                <th>@Html.DisplayNameFor(m => m.Name)</th>
                                <th>@Html.DisplayNameFor(m => m.Period)</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var immunization in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => immunization.ImmunizationId)</td>
                                    <td>@Html.DisplayFor(m => immunization.Name)</td>
                                    <td>@Html.DisplayFor(m => immunization.Period) meses</td>
                                    <td>@Html.DisplayFor(m => immunization.Description)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No hay registros</p>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tablaVacunas').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            $("#btnExportExcel").click(function () {
                debugger;
                // Obtener la tabla
                let table = document.getElementById("tablaVacunas");

                // Crear una tabla vacía para almacenar los valores que deseamos exportar
                let exportTable = document.createElement("table");
                exportTable.innerHTML = table.innerHTML;

                // Indicamos el indice de la columna que no queremos exportar
                let columnasEliminar = [6];

                // Eliminamos la columna indicada
                for (let i = columnasEliminar.length - 1; i >= 0; i--) {
                    let colIndex = columnasEliminar[i];
                    for (let j = 0; j < exportTable.rows.length; j++) {
                        exportTable.rows[j].deleteCell(colIndex);
                    }
                }

                // Utilizar TableToExcel para exportar la tabla modificada
                TableToExcel.convert(exportTable, {
                    name: `UserManagement.xlsx`,
                    sheet: {
                        name: 'Usermanagement'
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#btnExportPDF").click(function () {
                // Crear un nuevo documento PDF
                var doc = new jsPDF();

                // Obtener el contenido HTML que deseas exportar
                var contenidoHtml = $("#tablaVacunas").html();

                // Agregar el contenido HTML al PDF
                doc.fromHTML(contenidoHtml, 15, 15);

                // Guardar o descargar el PDF
                doc.save("documento.pdf");
            });
        });
    </script>
}
